

.logo h2 {
    font-size: 90PX;
    color: #472929;
    font-family: IMPACT;
}

.top-nav {
    float: right;
}

.logo p {
    color: black;
    font-family: impact;
    text-align: center;
}

.sb-search {
    position: absolute;
    width: 0%;
    min-width: 232px;
    right: -190px;
    top: 1em;
    height: 29px;
    overflow: hidden;
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    transition: width 0.3s;
    -webkit-backface-visibility: hidden;
}

.sb-search.sb-search-open, .no-js .sb-search {
    width: 10%;
}

.sb-search-input::-moz-placeholder {
    color: #65696E;
}
.sb-search-input {
    position: absolute;
    top: 2px;
    right: -55px;
    border: none;
    outline: aliceblue;
    background: #fff;
    width: 100%;
    margin: 1px;
    z-index: 30;
    padding: 0px 83px 0px 0px;
    font-family: inherit;
    font-size: 20px;
    color: #40A6CF;
}

.sb-icon-search, .sb-search-submit {
    width: 36px;
    height: 30px;
    display: block;
    position: absolute;
    right: -10px;
    top: 0;
    padding: -10px;
    margin: 1px;
        margin-top: 1px;
        margin-right: 1px;
        margin-bottom: 1px;
        margin-left: 1px;
    line-height: 60px;
    text-align: center;
    cursor: pointer;
}