@charset "UTF-8";
*{
    box-sizing: border-box;
}
body{
    background: grey;
}

.wrapper{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

/* ---------------------------TOPBAR*/
.topbar{
    padding: 1em 0;
    background: rgb(125, 122, 120) ;
}
.logo{
    padding: 0 1em;
}
.logo span{
    display: block;
}
.logo h2{
    margin: 0;
    padding: 0;
}
.topbar nav{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
}
.topbar li{
    display: inline-block;
    list-style: none;
}
.topbar li::after{
    content: " | ";
}
.topbar li:last-child::after{
    content: none;
}
.topbar li a{
    text-transform: uppercase;
    text-decoration: none;
}


/* ---------------------------Slider*/
.slider{
    padding: 1em;
}
.slider img{
    width: 100%;
}

/* ---------------------------Recette*/
.recettes{
    padding: 1em ;
    background: rgb(32, 89, 98) ;
}
.recettes button{
    cursor: pointer;
    border-radius: 4px;
    padding: 1em;
    background: rgb(242, 188, 24);
    border: 1px solid rgb(113, 179, 194);
}
.recettes button:hover{
    background: rgb(221, 146, 73) ;
}
.recettesFlex{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-around;
}
.containerRecipes{
    min-width: 90%;
    margin: 2em auto;
}
.recipe{
    display: flex;
    align-items: center;
    height: 350px;
    padding: 0.8em;
}

.recipeContent{
    border-radius: 5px;
    width: 100%;
    height: 100%;
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}
.recipeContent span{
    margin-bottom: 1em;
}
